@import "tailwindcss";

:root {
  --background-a: #4c4171;
  --background-a-light: #69618c;
  --background-b: #dfd7bf;
  --foreground: #171717;
}

@theme inline {
  --color-background-a: var(--background-a);
  --color-background-a-light: var(--background-a-light);
  --color-background-b: var(--background-b);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-a: #4c4171;
    --background-a-light: #69618c;
    --background-b: #E8E4DBFF;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-a: var(--background-a);
  background-a-light: var(--background-a-light);
  background-b: var(--background-b);
  color: var(--foreground);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

navbar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1em;
}

.projectcard-container {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-xl);
  background-color: var(--background-b);
  padding: calc(var(--spacing) * 6);
  color: var(--color-white);
}

.projectcard-container:hover {
  width: 120%;
  height: 120%;
  border-radius: var(--radius-xl);
  background-color: var(--background-b);
  padding: calc(var(--spacing) * 6);
  color: var(--color-white);
}

/* Corner title made with help from AI */
.corner-title {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
}

.corner-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-top: 3px solid white;
  border-left: 3px solid white;
  opacity: 60%;
}

.corner-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35px;
  height: 35px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  opacity: 60%;
}